<div class="col-sm-3">
    <h2 class="text-center">MON PROFIL</h2>
    <div class="row text-center">
        <img class="rounded-circle" src="/images/user.png" alt="user" width="100%">
    </div>
    <div class="row line-2">
        <table class="table table-hover">
            <tr>
                <th>NOM</th>
                <td><%= current_user.name %></td>
            </tr>
            <tr>
                <th>PRENOM</th>
                <td><%= current_user.surname %></td>
            </tr>
            <tr>
                <th>SEXE</th>
                <td><%= current_user.sexe %></td>
            </tr>
            <tr>
                <th>EMAIL</th>
                <td><%= current_user.email %></td>
            </tr>
            <tr>
                <th>INSCRIT</th>
                <td>depuis le <%= current_user.created_at.to_s.to_time.strftime('%e-%m-%Y') %></td>
            </tr>
        </table>
        <div class="row text-center"><%= link_to "PUBLIER", posts_path, class: "btn btn-success" %></div>
    </div>

</div>