<%= render "partials/header-sign" %>

<div class="container">
    <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key} text-center") %>
    <% end %>
    <div class="row profile" style="">
        <%= render "partials/profil" %>
        <div class="col-sm-9 body-profile">
            <h3 class="text-center">MODIFIER LA PUBLICATION</h3><hr>
            <div class="row text">
                <div class="col-md-6 col-md-offset-3">
                    <%= render "partials/form" %>
                    <%= link_to "Annuler", user_path(current_user), class: "btn btn-default" %>
                </div>
            </div>
        </div>
        <div class="row" style="height: 15px"></div>
    </div>
    <div class="row" style="height: 65px"></div>
</div>
<%= render "partials/footer" %>








